#app {
  .container {
    display: flex;
    justify-content: center;
    padding: 20px;

    .card {
      max-width: 600px;
      width: 100%;

      .content {
        margin-top: 20px;

        .joke {
          font-size: 18px;
        }
      }
    }
  }
}
