name: Deployment of Back-end on Docker Hub

on:
  push:
    branches:
      - "main"

jobs:
    docker-back:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout
            uses: actions/checkout@v4
                
          - name: Login to Docker Hub
            uses: docker/login-action@v3
            with:
                username: ${{ secrets.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}
                    
          - name: Set up Docker Buildx
            uses: docker/setup-buildx-action@v3

          - name: Build and push Docker image
            uses: docker/build-push-action@v5
            with:
                context: ./back/
                push: true
                tags: ${{ secrets.DOCKERHUB_USERNAME }}/bobapp-back:latest