name: Docker (CI/CD)

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{secrets.DOCKERHUB_EMAIL}}
          password: ${{secrets.DOCKERHUB_TOKEN}}
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push (Back)
        uses: docker/build-push-action@v5
        with:
          context: ./back
          file: ./back/Dockerfile
          push: true
          tags: ${{secrets.DOCKERHUB_USERNAME}}/bobapp-back:latest
      
      - name: Build and push (Front)
        uses: docker/build-push-action@v5
        with:
          context: ./front
          file: ./front/Dockerfile
          push: true
          tags: ${{secrets.DOCKERHUB_USERNAME}}/bobapp-front:latest
